---
import type { InferEntrySchema } from "astro:content";
import FormatedDate from "./FormatedDate.astro";
import { Image } from "astro:assets";

type Props = { prose_data: InferEntrySchema<"blog"> };
const { prose_data } = Astro.props;
---

<div class="prose-cont">
    <h1>{prose_data.title}</h1>
    <div class="formated-date">
        <FormatedDate date={prose_data.publishedAt} />
    </div>
    {
        prose_data.updatedAt && (
            <div class="formated-date">
                <>
                    <span class="updated_at">Updated At: </span>
                    <FormatedDate date={prose_data.updatedAt} />
                </>
            </div>
        )
    }
    <ul class="tags">
        {
            prose_data.tags.map((tag) => {
                return <li>{tag}</li>;
            })
        }
    </ul>
    {
        prose_data.heroImage && (
            <div class="image-cont">
                <Image
                    src={prose_data.heroImage}
                    alt={"hero image"}
                    class="hero-image"
                />
            </div>
        )
    }
</div>

<style>
    .formated-date .updated_at {
        color: var(--accent-2);
    }

    hr {
        margin-top: 3em;
        width: 80%;
        color: var(--primary-text);
        opacity: 0.3;
    }


    .prose-cont {
        display: flex;
        width: 50%;
        flex-direction: column;
        margin: 2em 0;
        align-items: center;
    }

    .image-cont {
        margin: 1em 0;
        width: 100%;
        height: 300px; 
        overflow: hidden;
    }

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .prose-cont h1 {
        color: var(--accent-1);
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    .prose-cont .formated-date {
        margin-bottom: 0.3em;
        font-size: 1.3em;
    }

    ul {
        margin:1em 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1em;
    }

    ul li {
        background-color: color-mix(in oklab, var(--accent-2) 40%, black 10%);
        padding: 0.5em;
        color: var(--primary-text);
        border-radius: 30%;
        font-weight: bold;
        font-size: 1em;
    }
</style>
